body
{
    background-color: rgb(229, 238, 244);
    font-family:  sans-serif;   
    margin: 0;
    padding: 0;
}
a
{
    color: black;
}
header
{
    display: flex;
    background-color: rgb(230, 232, 96);
    height: 50px;
    justify-content: center;
}
h1
{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.profession h2
{
    text-align: center;
    letter-spacing: normal;
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 0;


}

.photo
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
}

.contacts ul li 
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    
}
.contacts ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(230, 232, 96);
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    background: rgb(229, 238, 244);
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container .left_side
{
    position: relative;
    padding: 20px;
    background: rgb(90, 89, 87);

}



.container .right_side
{
    position: relative;
    padding: 20px;
    background: rgb(229, 238, 244);
}

main section
{
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 0;

}
ul
{
    margin: 0;
    padding-left: 0
}
li
{
    list-style-type: none; 
    
}
#menu 
{
    padding: 20px 0px 0px 0px;
    justify-content: center;
}
#menu ul li
{
    font-family: sans-serif;
    display: inline;
    padding: 10px 20px;
    list-style: none;
}
#menu ul li a 
{
    text-decoration: none;
    color: black;
}
#menu ul li a:hover
{
    color: rgb(95, 231, 58);
    cursor: pointer;
}

.about p
{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;   

}
h2
{
    letter-spacing: 4px;
}
.education li span
{
    font-weight: bold;
}

.wrapper
{
    position: relative;
    width: 100%;
    background: rgb(229, 238, 244);
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.copywriting h3
{
    padding-left: 50px;
    background-color: rgb(230, 232, 96);
    margin: 0;
    height: 50px;
    padding-top: 25px;

}

.logo_link
{
    background-color: rgb(230, 232, 96);

}
.logo_link img
{
    height: 40px;
    padding: 15px 50px 0 0;
    float:right;
    background-color: rgb(230, 232, 96);


}

